# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [92]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [84]:
#  1. Get the total rides for each city type 

# BCS ASSISTANT: So the shortcut would be grouping by type and then aggregating with count, 
# that way you can get all 3 city types in one table rather than calculating for each separately

# Create the DataFrames for each city type.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]


#urban_ride_count = pyber_data_df.groupby(["type"]).sum()      # total fare and total drivers
#urban_ride_count

#urban_ride_count = pyber_data_df.groupby(["type"]).count()     # total rides?
#urban_ride_count

In [ ]:
##### BEGIN ALTERNATES#######

In [85]:
alternate_urban1 = pyber_data_df.groupby(["type"]).sum()      # total fare and total drivers
alternate_urban1

              fare           ride_id  driver_count
type
Rural      4327.93   580968240341287           537
Suburban  19356.33  3106884522576766          8570
Urban     39854.38  7919412664056093         59602

In [86]:
alternate_urban2 = pyber_data_df.groupby(["type"]).count()     # total rides? driver count is wrong here
alternate_urban2

          city  date  fare  ride_id  driver_count
type
Rural      125   125   125      125           125
Suburban   625   625   625      625           625
Urban     1625  1625  1625     1625          1625

In [ ]:
####### END ALTERNATES########

In [99]:
# Urban cities.
urban_ride_count = urban_cities_df.count().values[0]
urban_ride_count

1625

In [101]:
# Suburban cities.
suburban_ride_count = suburban_cities_df.count().values[0]
suburban_ride_count

625

In [102]:
# Rural cities.
rural_ride_count = rural_cities_df.count().values[0]
rural_ride_count

125

In [107]:
# 2. Get the total drivers for each city type

# probably a more efficient way to do this but it seems to work so letting it be

# Urban city.
urban_driver_count = urban_cities_df.groupby(["city"]).sum()["driver_count"] # .sum() because counting totol of "d"
urban_driver_count.sum()

59602

In [46]:
# Suburban city.
suburban_driver_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"] # .sum() counting totol of "driver_count" column
suburban_driver_count.sum()

8570

In [47]:
# Rural city.
rural_driver_count = rural_cities_df.groupby(["city"]).sum()["driver_count"] # .sum() counting totol of "driver_count" column
rural_driver_count.sum()

537

In [48]:
urban_cities_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
1620,Reynoldsfurt,2019-02-14 11:25:10,39.40,9070692324754,67,Urban
1621,Christopherfurt,2019-03-13 01:47:52,32.05,2788817929605,41,Urban
1622,Raymondhaven,2019-03-20 02:20:34,38.53,8658255136559,11,Urban
1623,Port Johnbury,2019-03-26 07:22:45,7.63,8089282605778,3,Urban
1624,West Gabriel,2019-05-05 01:24:06,27.57,4428773411209,57,Urban

In [121]:
#  3. Get the total amount of fares for each city type

# Urban city.
urban_fare_count = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_fare_count.sum()

39854.38000000001

In [118]:
# Suburban city.
suburban_fare_count = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_fare_count.sum()

19356.33

In [119]:
# Rural city.
rural_fare_count = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_fare_count.sum()

4327.93

In [123]:
urban_cities_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
1620,Reynoldsfurt,2019-02-14 11:25:10,39.40,9070692324754,67,Urban
1621,Christopherfurt,2019-03-13 01:47:52,32.05,2788817929605,41,Urban
1622,Raymondhaven,2019-03-20 02:20:34,38.53,8658255136559,11,Urban
1623,Port Johnbury,2019-03-26 07:22:45,7.63,8089282605778,3,Urban
1624,West Gabriel,2019-05-05 01:24:06,27.57,4428773411209,57,Urban

In [127]:
urban_fare_count.mean()

24.499121716787847

In [130]:
#  4. Get the average fare per ride for each city type. 

# Urban city.
urban_fare_average = urban_fare_count.mean()
urban_fare_average

24.499121716787847

In [131]:
# Suburban city.
suburban_fare_average = suburban_fare_count.mean()
suburban_fare_average

537.6758333333333

In [132]:
# Rural city.
rural_fare_average = rural_fare_count.mean()
rural_fare_average

240.44055555555556

In [9]:
# 5. Get the average fare per driver for each city type.

In [10]:
#  6. Create a PyBer summary DataFrame.

In [11]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

NameError: name 'pyber_summary_df' is not defined

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')